 .App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background:linear-gradient(to right, rgba(151, 95, 76, 0.781), rgba(75, 130, 139, 0.712));

}
.logo{
  position: relative;
  width: 55px;
  height: 55px;
  left: 35px;
  top: 0px;
  margin: 0px;
}

.navlinks {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
li {
  list-style: none;
  color: rgb(236, 236, 236);
  text-decoration: none;
  font-size: 18px ;
  border: 1px solid rgb(153, 116, 116) ;
  border-radius: 15px;
  padding: 8px;
  
}

li:hover{
background-color:rgba(241, 143, 110, 0.842) ;
padding: 13px;
border-radius: 14px;
transition: all ease 220ms;
}
.Linkm{
  text-decoration: none;

}

img{
  width: 50%;
  height: 85vh;
  border-radius: 100%;
}
h1{
  margin: 0px;
  color: rgb(156, 218, 218);
}

/* manual */

.head{
  background: #000;
  height: 40px;
  width: 100%;
}

.subtitle{
  text-decoration: none;
  color: rgb(233, 227, 227);
  font-weight: bold;
  margin-left: 10%;
}

.sub{
  padding: 10px;
}

.head1{
  padding: 5px;
  float: right;
  margin-top: -30px;
 
}

.atag{
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
  color: #fff;
}

.section{
 margin: auto;
 width: 80%;
}

.head2{
  margin-top: 10%;
  text-align: center;
}

.box{
  display: flex;
  margin-left: 30%;
  margin-right: auto;
}

.p2{
 padding: 10px;
}



img{
  width: 400px;
  height: 400px;
  padding: 3px;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}
p{
  font-size: 22px;
  color: #ec7a53;
}
/* label{
  padding: 5px;
  color: rgb(22, 32, 29);
  font-size: large;
  text-align: center;
  align-items: center;
  float: left;
}
input{
  padding: 8px;
  color: rgb(37, 46, 43);
  font-size: large;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  float: right;

} */
button{
  padding: 15px;
  width: 100%;
  margin-top: 40px;
  border-radius: 15px;
  border: none;
  color: rgb(3, 3, 3);
  background-color:rgb(131, 255, 107);
}
.btn{
  padding: 15px;
  width: auto;
  margin-top: 40px;
  border-radius: 15px;
  border: none;
  color: whitesmoke;
  background-color: rgb(210 91 52);
  margin: 5px;
}


.fbox{
  display: grid;
  width: 235px;
  height: auto;
  margin: auto;
  padding: 100px;
  padding-top: 40px;
  margin-top: 5vh;
  border-radius: 15px;
  align-items: center;
  text-align: left;
  background-color: rgb(52, 189, 189);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.349)
  
}
.TIMER{
  color: #000;
    background-color: cadetblue;
    border-radius: 20px;
    padding-left: 10px;
    text-align: center;
}
.ans{
  padding: 5px;
  margin: 10px;

}
.BTNS{
  position: relative;
  margin-top: 55px;
}

/* form{
  display: inline-grid;
}  */
